# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Project-specific
.DS_Store
/*.html
_bookdown_files/
*.md
Fireworks.rds
rosm.cache/

## Raw files
data/raw/pvol/**/*.h5

## Model files
data/models/**/*.RDS
data/models/**/*.csv

## Plots
data/plots/**/*.pdf
data/plots/**/*.tif
data/plots/**/*.png
data/plots/**/*.jpeg
data/plots/**/*.gif
data/plots/**/*.RDS
data/plots/**/*.aux.xml

## Intermediate data
data/processed/**/*.RDS
data/processed/**/*.RData
data/processed/**/*.tif
data/processed/**/*.aux.xml
data/processed/**/ptt_convex_hulls*
data/processed/**/*.csv
data/processed/**/*.grd
data/processed/**/*.gri
data/processed/**/*.h5

